:root {
  /* Основные шрифты */
  --main-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-cl: #ff6c00;

  /* Светлая тема текста */
  --primary-txt--mode-light: #555555;
  --secondary-txt--mode-light: #303030;
  --main-txt--mode-light: #555555;

  /* Темная тема текста*/
  --primary-txt--mode-dark: #ffffff;
  --secondary-txt--mode-dark: rgba(157, 164, 189, 0.6);
  --main-txt--mode-dark: #9da4bd;

  /* Светлая тема фона*/
  --primary-bg--mode-light: #ffffff;
  --secondary-bg--mode-light: #f7f7f7;

  /* Темная тема фона*/
  --primary-bg--mode-dark: #191c26;
  --secondary-bg--mode-dark: #111319;
}

/* Common styles */
body {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--main-txt--mode-light);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
p:last-child {
  margin-bottom: 0;
}

img {
  display: block;
}

.list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.uppertitle {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.uppertitle-mode-light {
  color: var(--secondary-txt--mode-light);
}

.uppertitle-mode-dark {
  color: var(--secondary-txt--mode-dark);
}

.title {
  margin-bottom: 20px;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  color: var(--secondary-txt--mode-light);
}

.title-mode-light {
  color: var(--secondary-txt--mode-light);
}

.title-mode-dark {
  color: var(--primary-txt--mode-dark);
}

.subtitle {
  margin-bottom: 20px;

  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.subtitle-mode-light {
  color: var(--main-txt--mode-light);
}

.subtitle-mode-dark {
  color: var(--main-txt--mode-dark);
}

.main-btn {
  max-width: 350px;
  min-width: 160px;
  padding: 12px 20px;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  border: 1px solid var(--accent-cl);
  border-radius: 25px;
  background-color: transparent;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.19, 1, 0.22, 1),
    border 250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.main-btn-mode-light {
  color: var(--primary-txt--mode-light);
}

.main-btn-mode-dark {
  color: var(--primary-txt--mode-dark);
}

.main-btn:hover,
.main-btn:focus {
  background-color: var(--accent-cl);
  border: 1px solid var(--accent-cl);
}

.public-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--secondary-txt--mode-light);

  transition: color 250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.public-link:hover,
.public-link:focus {
  color: var(--accent-cl);
}

/* Лого header */
.logo {
  width: 1280px;
  outline: 1px dotted red;
  margin: 0 auto;

  background-image: url(../images/Slider.png);
  content: "";
  background-size: 1175px;
  background-repeat: no-repeat;
  background-position: right;
}

/* Header */
.header {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-container {
  position: relative;
  display: flex;
  align-items: center;
}

.logo-container {
  position: absolute;
  top: -10px;
  left: -20px;
  width: 100;
  height: 100%;
}

.header-logo {
  fill: var(--secondary-txt--mode-light);
}

.header-link {
  margin-right: 70px;
}

.nav-list {
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.nav-item {
  margin-right: 40px;
}

.nav-item:last-child {
  margin: 0;
}

.header-wrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-link,
.header-phone {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--primary-txt--mode-dark);

  transition: color 250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-cl);
}

.header-phone {
  margin-right: 40px;

  transition: color 250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.header-phone:hover,
.header-phone:focus {
  color: var(--accent-cl);
}

/* Hero */
.hero {
  /* background-color: var(--primary-bg--mode-dark); */
}

.hero-list-btn {
  display: flex;
  align-items: center;
  justify-content: end;
}

.hero-list {
  width: 72px;
  margin-left: -30px;
  background-color: #9da4bd;
}

.hero-item {
  margin-right: 40px;
}
.hero-item:last-child {
  margin: 0;
}

.uppertitle-hero {
  margin-left: 180px;
}

.container {
  position: relative;
}

.uppertitle-hero::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 1px;
  top: 65px;
  left: 120px;
  background-color: var(--main-txt--mode-dark);
}

.hero-title {
  margin-bottom: 20px;
  margin-left: 100px;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;

  letter-spacing: 0.05em;
  color: var(--primary-txt--mode-dark);
}

.hero .subtitle {
  margin-bottom: 0;
  margin-left: 100px;
}

.hero-btn {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  letter-spacing: 0.1em;
  color: var(--primary-txt--mode-dark);
  background-color: transparent;
  cursor: pointer;
}

.hero-btn-disable {
  color: rgba(157, 164, 189, 0.6);
}

/* About us */
.about-container {
  display: flex;
}

.about-list {
  display: flex;
}

.about-item {
  margin-right: 30px;
}
.about-item:last-child {
  margin-right: 0;
}

.about-wrapper {
  width: 500px;
  margin-left: auto;
}

.about-descr {
  margin-bottom: 40px;

  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;

  color: var(--main-txt--mode-light);
}

/* Price */
.price {
  background-color: var(--secondary-bg--mode-dark);
  background-image: url(../images/price.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.uppertitle-price {
  margin-left: 80px;
}

.uppertitle-price::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 1px;
  top: 5px;
  left: 20px;
  background-color: var(--main-txt--mode-dark);
}

.price .title {
  margin-bottom: 44px;
}

.price-list {
  display: flex;
  align-items: center;

  margin-bottom: 50px;
}

.price-item {
  flex-basis: calc(100% / 2);
  padding: 30px 40px;

  background-color: rgba(255, 255, 255, 0.1);
}

.price-item:nth-child(2) {
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
}

.price-item:nth-child(1) {
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}

.price-inner-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.price-inner-item:last-child {
  margin-bottom: 0;
}

.price-inner-name,
.price-inner-cost {
  color: var(--main-txt--mode-dark);
}

.price .main-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Advantages */

.advantages {
  display: flex;
  align-items: center;
}

.advantages-box {
  display: flex;
  width: calc(100% / 2);
}

.advantages-quantity {
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  text-align: center;

  color: var(--secondary-txt--mode-light);
}

.advantages-descr {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 122px;
  height: 30px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;

  color: #303030;
}

.advantages-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding: 20px 24px;
  width: 170px;
  height: 133px;
  margin-right: 30px;
  background-color: #f7f7f7;
}

.advantages-item:nth-child(1) {
  margin-left: 100px;
}

.advantages-item:nth-child(2) {
  margin-right: 0;
  margin-top: 30px;
}

.advantages-item:nth-child(4) {
  margin-right: 0;
}

.advantages-item:nth-child(3) {
  margin-bottom: 0;
  margin-left: 100px;
}

.advantages-item:nth-child(4) {
  margin-bottom: 0;
  margin-top: 30px;
}

.advanteges-uppertitle {
  position: relative;
  width: calc(100% / 2);
  padding-bottom: 113px;
}

.scholl {
  margin-left: 80px;
  margin-bottom: 20px;
}
.scholl::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 60px;
  height: 1px;
  background-color: var(--secondary-txt--mode-light);
}

/* Team */
.team {
  background-color: var(--secondary-bg--mode-light);
}

.team-list {
  display: flex;
  text-align: center;
}

.team-member {
  width: (calc(100% - 60px) / 3);
}

.team-member:not(:last-child) {
  margin-right: 30px;
}

.socials {
  display: flex;
  justify-content: center;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
}

.socials-item {
  width: (calc(100% - 30px) / 4);
  margin-right: 10px;
}

.team-avatar {
  margin-bottom: 30px;
}

.team-headline {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.02em;

  color: var(--secondary-txt--mode-light);
}

.team-position {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;

  color: var(--accent-cl);
}

.social-logo-svg {
  fill: #303030;

  transition: fill 250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.social-logo-svg:hover,
.social-logo-svg:focus {
  fill: var(--accent-cl);
}

/* Gallery */

.gallery-list {
  display: flex;
}

.gallery-item {
  width: (calc(100% - 90px) / 4);
  margin-right: 30px;
}

/* Contacts */
.contacts.section {
  background-color: var(--secondary-bg--mode-dark);
  text-align: center;
}

.contacts-container {
  display: flex;
  flex-wrap: wrap;
}

.entry {
  width: calc(100% / 2);
}

.addres {
  width: calc(100% / 2);
  background-image: url(../images/contacts.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 625px 624px;
}

.contacts-address {
  font-style: normal;
}

.contacts-link {
  color: currentColor;
}

/**
|--------------------------------------------------
| селектор ссылки по атрибуту, который начинается
| со слова "mailto:"
|--------------------------------------------------
*/
.contacts-link[href^="mailto:"] {
  text-decoration: underline;
}

.contacts .uppertitle-mode-dark {
  /**
|--------------------------------------------------
| переопределение переменной для верхнего заголовка
| только внутри секции contacts
|--------------------------------------------------
*/
  --secondary-txt--mode-dark: #ffffff;
}

.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-list {
  display: flex;
  align-items: center;
}

.footer-item {
  margin-right: 40px;
}

.footer-item:last-child {
  margin-right: 0;
}

.footer-copyright {
  margin-bottom: 0;
}
